# **Modelos de series analysis, modelos estadisticos, y modelos de machine learning**

usamos el método IQR para remover outliers

primero importamos las librerias que vamos a utilizar

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.dates as mdates
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('registros_limpios_estaciones_conColumnasNombres.csv', sep=';', parse_dates=True)

In [3]:
len(data)

646105

In [4]:
data = data.drop(columns=['id_csv'])

In [5]:
data.head()

,auto_id,id,devEui,temperature,humidity,pressure,pm1_0,pm2_5,pm10,so2,...,createdDateTime,pm2_5_aqi,pm10_aqi,so2_aqi,o3_aqi,co_aqi,no2_aqi,aqi,primary_pollutant,customer_tz_createdDateTime
0,69001,262484,4417935af3905f62,36.29,51,983,5,5,6,0,...,7/8/2022 01:15,21,6,0,0,0,0,21,pm2_5,6/8/2022 20:15
1,69002,262471,4417935af3905f62,36.30,50,983,3,4,5,0,...,7/8/2022 01:08,17,5,0,0,0,0,17,pm2_5,6/8/2022 20:08
2,69003,262461,4417935af3905f62,36.72,50,984,5,4,5,0,...,7/8/2022 01:02,17,5,0,0,0,0,17,pm2_5,6/8/2022 20:02
3,69004,262453,4417935af3905f62,36.89,49,985,1,4,5,0,...,7/8/2022 00:59,17,5,0,0,0,0,17,pm2_5,6/8/2022 19:59
4,69005,262444,4417935af3905f62,37.54,48,988,4,5,5,0,...,7/8/2022 00:55,21,5,0,0,0,0,21,pm2_5,6/8/2022 19:55

In [6]:
query_id = '4417935aff00388d'#palma dorada
query_id2= '4417935af3d82f50'#dunas
#query_id3= '4417935b01081c59'#Cuauhtemoc
#data = data.query("devEui == @query_id or devEui == @query_id2 or devEui == @query_id3")
data = data.query("devEui == @query_id or devEui == @query_id2")

In [7]:
data = data[['devEui', 'temperature', 'humidity', 'pressure', 'pm1_0', 'pm2_5', 'pm10', 'so2', 'o3', 'co', 'customer_tz_createdDateTime']]

In [8]:
data['customer_tz_createdDateTime'] = pd.to_datetime(data['customer_tz_createdDateTime'], format='mixed')

In [9]:
data

,devEui,temperature,humidity,pressure,pm1_0,pm2_5,pm10,so2,o3,co,customer_tz_createdDateTime
22647,4417935af3d82f50,22.66,92,982,1,2,2,0,0.01,0,2022-01-09 00:02:00
22648,4417935af3d82f50,22.84,93,982,3,3,4,0,0.01,0,2022-01-09 00:08:00
22649,4417935af3d82f50,22.91,92,982,2,3,3,0,0.01,0,2022-01-09 00:12:00
22650,4417935af3d82f50,23.00,92,981,1,2,2,0,0.04,0,2022-01-09 00:17:00
22651,4417935af3d82f50,23.14,93,981,2,3,3,0,0.01,0,2022-01-09 00:25:00
...,...,...,...,...,...,...,...,...,...,...,...
646084,4417935af3d82f50,39.15,38,977,7,7,10,0,0.02,0,2023-08-17 17:29:00
646088,4417935aff00388d,39.14,37,977,8,8,11,0,0.03,0,2023-08-17 17:35:00
646094,4417935af3d82f50,39.15,37,977,7,8,10,0,0.09,0,2023-08-17 17:34:00
646098,4417935aff00388d,38.93,37,977,7,7,10,0,0.02,0,2023-08-17 17:44:00
646104,4417935af3d82f50,38.96,38,977,16,14,22,0,0.02,0,2023-08-17 17:45:00